*{
    top: 0;
    left: 0;
    margin: 0;
}
.parent{
    background-color: rgb(204, 132, 67);
    color: white;
    border: 1px solid black;
    border-radius: 2%;
    width: 99.9%;
    height: 39vh;
}
.child h2{
    padding: 2% 2%;
    margin-bottom: 10px;
}
#about p{
    padding-bottom: 15px;
    padding-left: 10px;
}
.p2{
    background-color: rgb(74, 74, 228);
    width: 100%;
    height: 90vh;
    position: relative;
}
.c2{
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 35%;
    padding: 50px 0 0 0;
    padding-left: 50px;
}
.c2 h2{
    margin-bottom: 50px;
}
.btn{
    width: 89px;
    height: 38px;
    border-radius: 20px;
    text-align: center;
}